name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.MY_HOST }}
          username: ${{ secrets.MY_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "Creating project folder if it doesn't exist"
            mkdir -p /home/ubuntu/laststand
            cd /home/ubuntu/laststand

            if [ ! -d "Last-Breath/.git" ]; then
              echo "Cloning repository"
              git clone https://github.com/Ozodbek-cloud/Last-Breath
            else
              echo "Repository already exists, pulling latest changes"
              cd Last-Breath
              git pull origin main
            fi


            echo "Stopping containers"
            sudo docker compose down

            echo "Building containers"
            sudo docker compose build

            echo "Running containers"
            sudo docker compose up -d